
html {
    /*overflow: visible; !* or 'clip' if you only want to stop horizontal scroll *!*/
    /* Do NOT use 'hidden' or 'scroll' */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin:0;
    padding:0;
    font-family: 'handwriting', serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;


    /*justify-content: space-between;*/

    /*align-items: flex-start;*/

}

#header-placeholder {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #EADCCC;
}

header {
    margin:0;
    padding:1rem;
    padding-right:3rem;
    background-color: #EADCCC;

    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-links{
    display:flex;
    gap: 2rem;
}

.wordmark{
    cursor: pointer;
    width:10%;
}

.wordmarkdiv{
    padding-left: 1%;
    text-align: right;
}

.projectcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /*margin-top: 2rem;*/
}

#notheader{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-grow: 1;

}

#left{

    background-color: #ffffff;
    width: 80%;
    box-shadow: 2px -2px 2px #9a9791, 2px 2px 2px #9a9791;


}

.projectdiv1{
    display:flex;
    flex-direction: column;
    width: 16vw;
    height: 16vw;
    background-color: #000000;
    margin: 2rem;
    box-shadow: 0px 3px 5px 1px  #504e49;

    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.projectdiv2{
    width: 13vw;
    height: 13vw;
    background-color: #000000;
    margin: 2rem;
    box-shadow: 0px 3px 5px 1px  #504e49;

    transition: transform 0.3s ease;


}

.title{
    /*position: absolute;*/
    padding: 0.05rem;
    margin: 0.5rem;
    color: white;
    text-align: center;
    font-size: 2.2rem;
    background-color: #003c19;
    border-radius: 0.5rem;

}

#stick{
    flex-grow: 0.001;
    background-color: #e7e889;
}

.projectdescription{
    text-align: center;
    font-size: 1.2rem;
}

/*#projectcontainercontainer{*/
/*    flex: 1;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-around;*/

/*    background-color: #FFFFFF;*/
/*}*/

#nextproject{
    border: black solid 2px;
    box-shadow: none;
    width: 13vw;
    height: 13vw;
    background-color: #ffffff;
    margin: 2rem;
    transform: skew(-2deg);
}

#test{
    font-size: 1rem;
}

.projectdiv1:nth-child(2n){
    transform: rotate(3deg);
    /*margin-left: 10rem;*/
    background-color: #FEFF9C;
}
.projectdiv1:nth-child(2n-1){
    transform: rotate(-3deg);
    /*margin-right: 10rem;*/
    background-color: #FEFF9C;
    margin-top: 4rem;
}

.projectdiv2:nth-child(2n){
    transform: rotate(-3deg);
    /*margin-left: 10rem;*/
    background-color: #FEFF9C;
}
.projectdiv2:nth-child(2n-1){
    transform: rotate(3deg);
    /*margin-right: 10rem;*/
    background-color: #FEFF9C;
    margin-top: 4rem;
}

.projectdiv1:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px 7px 3px #504e49;

}

.projectdiv2:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px 7px 3px #504e49;
}



@font-face {
    font-family: 'handwriting';
    src: url('/Handwriting-Regular (3).woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#headerlink{
    text-decoration-thickness: 0.1rem;
    color: #000000;
}

#headerlink2{
    text-decoration-thickness: 0.1rem;
    color: #000000;
}

#abouttextcontainer{
    flex-grow: 1;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EADCCC;


    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;


}

.abouttextdiv{
    padding: 2rem;

}

#aboutqualifications{
    flex-grow: 0.3;
    text-align: left;
    padding-left: 1.5rem;
    font-size: 1.5rem;

}

#aboutmain{
    /*line-height: 7rem;*/
    flex-grow: 0.7;
    font-size: 2rem;


}

