

body {
    margin:0;
    padding:0;
    font-family: 'handwriting', serif;

}

header {
    margin:0;
    padding:1rem;
    padding-right:3rem;
    background-color: #EADCCC;


    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wordmark{
    cursor: pointer;
    width:10%;
}

.wordmarkdiv{
    padding-left: 1%;
    text-align: right;
}

.projectcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectdiv{
    width: 50vw;
    height: 25vw;
    background-color: #000000;
    margin: 5rem;
    box-shadow: 6px 6px 6px #504e49;

    transition: transform 0.3s ease;


}





.projectdiv:nth-child(even){
    transform: rotate(3deg);
    margin-left: 10rem;
    background-color: #00b138;
}
.projectdiv:nth-child(odd){
    transform: rotate(-3deg);
    margin-right: 10rem;
    background-color: #0032ff;
}

.projectdiv:hover{
    transform: scale(1.1);
}


@font-face {
    font-family: 'handwriting';
    src: url('/Handwriting-Regular (3).woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#headerlink{
    text-decoration-thickness: 0.1rem;
    color: #000000;
}