
html {
    overflow-x: clip;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin:0;
    padding:0;
    font-family: 'handwriting', serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

#header-placeholder {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #EADCCC;
}

header {
    margin:0;
    padding:1rem;
    padding-right:3rem;
    background-color: #EADCCC;

    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-links{
    display:flex;
    gap: 2rem;
}

#topline{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    padding:1rem;
    padding-right:3rem;

}

.wordmark{
    width:30%;
}


.wordmarkdiv{
    padding-left: 1%;
    text-align: right;
}

.projectcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: start;

    align-items: flex-start;
}

#left{
    display:flex;
    position: sticky;
    /*align-items: left;*/

    background-color: #EADCCC;

    top:0;

    width: 80%;

    height: 100vh;

    z-index: 100;

    flex-direction: column;



}

#qualifications{
    rotate: -1deg;
    opacity: 0;
    padding-left: 1rem;
    text-align: left;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}

#bio{
    margin: 1rem;

    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.bioline:nth-child(1){
    animation-delay: 0.7s;

}

.bioline:nth-child(2){
    animation-delay: 1.4s;
    rotate: 1deg;
}

.bioline:nth-child(3){
    animation-delay: 2.1s;
    rotate: -2deg;
}

.bioline:nth-child(4){
    animation-delay: 2.9s;
    rotate: 1deg;
}

.bioline:nth-child(5){
    animation-delay:3.6s;
    rotate: -1deg;
}


.bioline{
    opacity: 0;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}

.projectbox{

    display:flex;
    flex-direction: column;
    width: 16vw;
    height: 16vw;
    background-color: #000000;

    box-shadow: 0px 3px 5px 1px  #504e49;


}

.project{
    display:flex;
    flex-direction: column;
    width: 16vw;
    height: 18vw;
    margin: 2rem;
    transform: rotate(var(--random-rotation));
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectdiv2{
    width: 13vw;
    height: 13vw;
    background-color: #000000;
    margin: 2rem;
    box-shadow: 0px 3px 5px 1px  #504e49;

    transition: transform 0.3s ease;
}

.title{
    /*position: absolute;*/
    padding: 0.05rem;
    margin: 0.5rem;
    color: white;
    text-align: center;
    font-size: 2.2rem;
    background-color: #003c19;
    border-radius: 0.5rem;

}

.stick{
    flex-grow: 0.001;
    background-color: #e7e889;
}

.projectdescription{
    text-align: center;
    font-size: 1.2rem;
}

#nextproject{
    border: black solid 2px;
    box-shadow: none;
    width: 13vw;
    height: 13vw;
    background-color: #ffffff;
    margin: 2rem;
    transform: skew(-2deg);
}

#test{
    font-size: 1rem;
}

.projectbox:nth-child(2n){
    /*transform: rotate(3deg);*/
    /*margin-left: 10rem;*/
    background-color: #FEFF9C;
}
.projectbox:nth-child(2n-1){
    /*transform: rotate(-3deg);*/
    /*margin-right: 10rem;*/
    background-color: #FEFF9C;
    margin-top: 4rem;
}

.project:hover{
    transform: scale(1.1) rotate(0deg);


}

.projectdiv2:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px 7px 3px #504e49;

}



@font-face {
    font-family: 'handwriting';
    src: url('/Handwriting-Regular (3).woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#headerlink{
    text-decoration-thickness: 0.1rem;
    color: #000000;
}

#headerlink2{
    text-decoration-thickness: 0.1rem;
    color: #000000;
}

#abouttextcontainer{
    flex-grow: 1;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EADCCC;


    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;


}

.abouttextdiv{
    padding: 2rem;

}

#aboutmain{
    /*line-height: 7rem;*/
    flex-grow: 0.7;
    font-size: 2rem;


}

