body {
    margin: 0;
    min-height: 100vh; /* 100% of the viewport height */

    /* 2. Set up flexbox */
    display: flex;
    justify-content: center; /* Centres horizontally */
    align-items: center;     /* Centres vertically */
    background: linear-gradient(
            139deg,rgba(219, 177, 143, 1) 0%, rgba(191, 149, 115, 1) 35%, rgba(158, 118, 85, 1) 100%
    );
}

@font-face {
    font-family: 'handwriting';
    src: url('https://github.com/JOpeel/JOpeel.github.io/blob/live/Handwriting-Regular%20(3).woff2?raw=true') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 3. (Optional) Centre the text inside our wrapper */
.content-wrapper {
    font-family: 'handwriting', sans-serif;
    font-size: 200%;
    text-align: center;

}

.wordmark{
    cursor: pointer;
    width:20%;
    margin-bottom: 0;

}